@model ListOfAgetViewModel 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <a asp-controller="Admin" asp-action="CreateAgent">
            <button type="button" class="btn btn-primary">Yeni Emlakçı Oluştur</button>
        </a>
    </div>
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kullanıcı Adı</th>
                <th scope="col">Email</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.ListOfAgent.Count>0)
            {
                @foreach (var item in @Model.ListOfAgent)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                   
                    </tr>
                }
            }
         
        </tbody>
    </table>

    @*<table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>*@

</div>
